.right-footer-card {
    display: flex;
    /* border: 1px solid #ddd; */
    margin: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
    margin: 10px;
    width: 704px;
    height: 72px;
    flex-shrink: 0;
    margin-left: 15px;
    padding: 20px;

  }
  
  .right-footer-card .left-side {
    flex: 2;
    padding: 10px;
    /* background-color: #f1f1f1; */
  }

  .blue-button .export_img{
    display: flex;
    align-items: center;
  }

  .right-footer-card .left-side h2{
    color: #0F0F0F;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px;
  }
  
  .right-side_box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blue-button {
     background-color: #007bff;
    color: white;
    border: none;
    padding: 9px 63px;
    border-radius: 69px;
    cursor: pointer;
    
  


  }
  
  .blue-button:hover {
    background-color: #0056b3;
  }
  