.right-footer-card {
    display: flex;
    
    margin: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
    margin: 10px;
    width: 704px;
    height: 70px;
    flex-shrink: 0;
    margin-left: 15px;
    padding: 20px;

   font-family: 'Inter';
}

  .left-side p{
    color: #0F0F0F;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
   font-family: 'Inter';
}
  
  .right-footer-card .left-side {
    flex: 2;
   
   font-family: 'Inter';
}

  .blue-button .export_img{
    display: flex;
    align-items: center;
   font-family: 'Inter';
}

  .right-footer-card .left-side h2{
    color: #0F0F0F;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
   font-family: 'Inter';
}
  
  .right-side_box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: 'Inter';
}
  
  .blue-button {
   
    color: white;
    border: none;
    padding: 9px 44px;
   
    cursor: pointer;

    border-radius: 20px;
background: #5498EE;
box-shadow: 0px 1px 8px 0px rgba(38, 98, 240, 0.40);
  

   font-family: 'Inter';
}
  
  .blue-button:hover {
    background-color: #0056b3;
   font-family: 'Inter';
}
  .export_img svg{
    margin-right: 8px;
   font-family: 'Inter';
}
  