
.Tul{
    width: 900px;
 font-family: 'Inter';
}
.card-3d {
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: #fff;
    padding: 20px;
    width: 445px;
    height: 493px;
  
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
   
 font-family: 'Inter';
}
.card-Protien {
    border-radius: 10px;
    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: #fff;
    padding: 20px;
    margin-left: 27px;
    width: 440px;
    height: 493px;
    
    flex-shrink: 0;
   

    display: flex;
    justify-content: center;
    align-items: center;
 font-family: 'Inter';
}
.tul-header-error{
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
 font-family: 'Inter';
}

.loading{
     display: flex;
    justify-content: center;
    align-items: center;
 font-family: 'Inter';
}

.three-d-box{
    margin-bottom: 10px;
  
 font-family: 'Inter';
}
