/* .Tul-header{
    width: 900px;
} */
.Tul{
    width: 900px;
}
.card-3d {
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: #fff;
    padding: 20px;
    /* width: 445px;
    height: 470px; */
    flex-shrink: 0;
    /* height: 606px; */
}
.card-Protien {
    border-radius: 10px;
    /* border: 1px solid #ddd; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: #fff;
    padding: 20px;
    margin-left: 27px;
    /* width: 440px;
    height: 470px; */
    flex-shrink: 0;
    /* height: 606px; */
}
.three-d-box{
    margin-bottom: 10px;
    /* height: 650px; */
}
/* .d-flex{
    height: 1180px;
} */