.left-footer-card {
    display: flex;
   
    margin: 10px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
    width: 712px;
    height: 104px;
    flex-shrink: 0;
    align-items: center;
   font-family: 'Inter';
}
  
  .left-side_box {
    flex: 1;
    padding: 20px;
   
   font-family: 'Inter';
}
  .left-side_box p{
    color: #0F0F0F;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 550;
line-height: 24px; 
   font-family: 'Inter';
}
  
  .right-side {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   font-family: 'Inter';
}
  
  img {
    max-width: 100%;
    height: auto;
    margin: 5px;
   font-family: 'Inter';
}
  