
  .card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
    width: 364px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .custom-select{
    background: transparent;
    background-image: none;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  
  }
  .custom-select option {
    background-color: white;

    color: #414D55;
  }
  .card p{
    color: #414D55;
    font-family: Rubik;
    font-size: 21px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .option_class{
    margin: 10px;
    color: #414D55;
  }

  
  
  .input-field {
    margin-bottom: 20px;
  }
#dropdown::before {
    content: "Choose an option"; 
    color: #888; 
}

.alles{
  display: flex;
  align-items: center;
}

.alles img{
  width: 24px;
  height: 20px;
}

  
  .input-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .analysis-button{
    background: #5498EE;
    box-shadow: 0px 1px 8px 0px rgba(38, 98, 240, 0.40);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    margin-right: 14px;
  }
  .input_pro{
    color: #414D55;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
  }
  
  /* You can add more styling to customize the card's appearance as needed */
  