
  .card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(20, 46, 110, 0.10);
    width: 364px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   font-family: 'Inter';
}
  .custom-select{
    background: transparent;
    background-image: none;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 

 
  
   font-family: 'Inter';
}
  .custom-select option {
    background-color: white;

    color: #414D55;
   font-family: 'Inter';
}
  .card p{
    color: #414D55;
    font-family: Rubik;
    font-size: 21px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
   font-family: 'Inter';
}

  .option_class{
    margin: 10px;
    color: #414D55;
   font-family: 'Inter';
}

  
  
  .input-field {
    margin-bottom: 20px;
   font-family: 'Inter';
}

.alles{
  display: flex;
  align-items: center;
 font-family: 'Inter';
}

.alles img{
  width: 24px;
  height: 20px;
 font-family: 'Inter';
}

.input-first label{
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
 font-family: 'Inter';
}
.input-first{
  margin-bottom: 20px;
 font-family: 'Inter';
}

  
  .input-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
   font-family: 'Inter';
}
  
  input,
  select {
    width: 95%;
    padding: 10px;

    border-radius: 4px;
    font-size: 14px;

    border-radius: 5px;
border: 1px solid #DFE2E4;
background: #FFF;
   font-family: 'Inter';
}
  .analysis-button{
    background: #5498EE;
    box-shadow: 0px 1px 8px 0px rgba(38, 98, 240, 0.40);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    margin-right: 14px;
   font-family: 'Inter';
}
  
  button:hover{
    /* color: #2F63A5; */
    background-color: #2F63A5;
   font-family: 'Inter';
}
  .input_pro{
    color: #414D55;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
   font-family: 'Inter';
}

 

  .input-field {
    min-width: 350px;
    position: relative;
   font-family: 'Inter';
}
  
  select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 1rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #DFE2E4;
    border-radius: 0.25rem;
    color: #9B9C9C;
    cursor: pointer;
   font-family: 'Inter';
}
  
  .input-field::before,
  .input-field::after {
    --size: 0.4rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
   font-family: 'Inter';
}
  

  
  .input-field::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #6B6B6B;
    top: 70%;
   font-family: 'Inter';
}
  .error-message{
    color: red;
   font-family: 'Inter';
}
.protienId_suggest{
  font-family: 'Inter';
  color: #9B9C9C;
}
  

  