.Conatiner{
  /* background-color: #F1F5F8; */
  height: 100%;
  background: #F1F5F8;
  width: 100%;
  /* overflow: hidden; */
  /* overflow: hidden; */
  /* min-width: fit-content; */
  /* max-width: fit-content; */
}
.body_box{
  display: flex;

  align-items: center ;
  width: 1440px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.three_d_structure{
  display: flex;

  align-items: center;
  margin-left: 35px;
}
.card_box_x{
  margin-bottom: 10px;
}
.body{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  width: 1440px;
}
.body h3{
  color: #414D55;
font-family: Rubik;
margin-left: 40px;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 142.857% */
}
.footer{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 1440px; */
  margin-left: 30px;
}