
.result-card {
  border-radius: 10px;
  background: #FFF;
  padding: 15px;
  width: 374px;

 font-family: 'Inter';
}

.container {
  border-radius: 10px;
  border: 3px solid rgba(80, 216, 200, 0.2);

  display: flex;
  flex-direction: column;
 
  height: 88%;
  padding: 16px;
  flex: 1;
 font-family: 'Inter';
}

.result-card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
 font-family: 'Inter';
}

.header-left {
  flex: 1;
  color: #414D55;
  font-weight: 500;
  line-height: 20px;

  letter-spacing: 0.1px;
 font-family: 'Inter';
}

.result-card-content {
  font-size: 16px;
  margin: 10px 0;
 font-family: 'Inter';
}

.break_line {
  border: none;
  border-top: 2px dashed #D9F6F2;
  margin: 10px 0;
  stroke-width: 2px;
 font-family: 'Inter';
}

.seq_style {
  color: #414D55;
  font-weight: 700;
  line-height: 24px;

 font-family: 'Inter';
}

.seq2_style {

  font-size: 12px;
  font-style: normal;
  line-height: 24px;

  text-transform: uppercase;
  color: #414D55;

  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  display: flex;

 font-family: 'Inter';
}
.seq2_alignSeq{
  display: flex;
 font-family: 'Inter';
}