/* ResultCard.css */
.result-card {
    border-radius: 10px;
    background: #FFF;
    padding: 15px;
    width: 374px;
    height: 299px;
    /* flex-shrink: 0; */
  }
  .container{
    border-radius: 10px;
    border: 3px solid rgba(80, 216, 200, 0.2);
    background: #FDFCFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%; 
    padding: 16px;
    flex: 1;
  }
  .result-card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .header-left {
    flex: 1;
    color: #414D55;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.1px;
  }
  
  .result-card-content {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .break_line{
    border: none;
    border-top: 2px dashed #D9F6F2;
    margin: 10px 0;
    stroke-width: 2px;
  }
  .seq_style{
    color: #414D55;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .seq2_style{

    font-size: 12px;
    font-style: normal;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
  }
