/* Card3D.css */
.card-Protien {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: #fff;
  padding: 20px;
  margin-left: 27px;
  width: 440px;
  height: 499px;
  flex-shrink: 0;
   font-family: 'Inter';
}
  

  